In [17]:
import pandas as pd
from math import sqrt
from scipy.stats import chi2_contingency

In [2]:
df = pd.read_csv("water.txt", sep='\t')
df.head(5)

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

1.

In [47]:
round(df[['mortality', 'hardness']].corr().iloc[0,1], 4)

-0.6548

2.

In [8]:
round(df[['mortality', 'hardness']].corr('spearman').iloc[0,1], 4)

-0.6317

3.

In [10]:
print(round(df[df.location=='South'][['mortality', 'hardness']].corr().iloc[0,1], 4))
print(round(df[df.location=='North'][['mortality', 'hardness']].corr().iloc[0,1], 4))

-0.6022
-0.3686

4. Неправильно!

In [35]:
display(pd.DataFrame([[239, 203], [515, 718]], columns=['M', 'F'], index=['Once', 'Less']))
a = 239
b = 203
c = 515
d = 718
print(round((a*d - b*c) / sqrt((a+b)*(a+c)*(b+d)*(b+c)),3))

        M    F
Once  239  203
Less  515  718

0.143

5.

In [36]:
chi2_contingency([[a, b], [c, d]])[1]

1.0558987006638725e-05

6.

In [32]:
# https://github.com/gazon1/coursera-ml-specialisation-stats/blob/master/stat.two_proporions_conf_int_upd.ipynb

import scipy
import numpy as np
def proportions_confint_diff_ind(sample1, sample2, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)   
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)

a = [1] * 239 + [0] * 515
b = [1] * 203 + [0] * 718

In [27]:
print("confidence interval: [%.4f, %.4f]" % proportions_confint_diff_ind(a, b))

confidence interval: [0.0539, 0.1392]

7.

In [33]:
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = len(sample1)
    n2 = len(sample2)
    
    p1 = float(sum(sample1)) / n1
    p2 = float(sum(sample2)) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

print("p-value: %f" % proportions_diff_z_test(proportions_diff_z_stat_ind(a, b)))

p-value: 0.000008

8.

In [39]:
round(chi2_contingency([[197, 111, 33], [382, 685, 331], [110, 342, 333]])[0],4)

293.6831

9.

In [45]:
chi2_contingency([[197, 111, 33], [382, 685, 331], [110, 342, 333]])[1]

2.4964299580093467e-62

10. Неправильно!

In [44]:
def cramers_stat(confusion_matrix):
    chi2 = chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum()
    phi2 = chi2/n
    r,k = confusion_matrix.shape
    rcorr = r - ((r-1)**2)/(n-1)
    kcorr = k - ((k-1)**2)/(n-1)
    return np.sqrt(phi2 / min( (kcorr-1), (rcorr-1)))
round(cramers_stat(np.array([[197, 111, 33], [382, 685, 331], [110, 342, 333]])),4)

0.2413